/* p{ */
    /* background-color: aquamarine; */

/* } */

.container{
    background-color: rgb(209, 183, 183);
    padding: 45px;
    margin: 40px;
    border: 2px solid black;
    
}

.information-1{
    background-color: cyan;
    padding: 25px;
    margin: 25px;
    border: 2px solid black;
}

.information{
    background-color: rgb(125, 235, 180);
    padding: 25px;
    margin: 25px;
    border: 2px solid black;
}


.form{
    color: rgb(12, 12, 12); background-color: rgb(198, 243, 200);
    padding:.1px;
    margin: .1px
}

   